Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

Path conditions:
  test-mac: any of: hdl/mac.vhd, testbenches/mac/src/*, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_iact/src/*, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_psum/src/*, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_wght/src/*, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, testbenches/pe_conv/src/*, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, testbenches/pe_array_conv_3x3/src/*, .gitlab-ci.yml

fix styleguide issues
  ci/config.yaml
  ci/config_tb.yaml
  hdl/accelerator.vhd
  hdl/accelerator_2.vhd
  hdl/address_generator.vhd
  hdl/address_generator_psum.vhd
  hdl/control.vhd
  hdl/control_address_generator.vhd
  hdl/control_init.vhd
  hdl/line_buffer.vhd
  hdl/scratchpad_interface.vhd
  hdl/sync.vhd
  testbenches/fifo_tb/src/fifo_tb.vhd
  testbenches/functional/src/control_conv_tb.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/modelsim.ini
  testbenches/pe_array_conv_5x5_channels_size/run.do
  testbenches/pe_array_conv_5x5_channels_size/sources.tcl
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
  testbenches/pe_array_conv_5x5_channels_size/src/stimuli.py
  testbenches/pe_array_conv_5x5_channels_size/wave_2.do
  testbenches/pe_array_gemm_3x3/src/pe_array_gemm_3x3_tb.vhd
  testbenches/pe_array_gemm_3x6/src/pe_array_gemm_3x6_tb.vhd
  testbenches/pe_conv/src/pe_conv_tb.vhd
  testbenches/rr_arbiter/src/rr_arbiter_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

Fix style guide issues
  hdl/accelerator.vhd
  hdl/accelerator_2.vhd
  hdl/address_generator.vhd
  hdl/address_generator_psum.vhd
  hdl/control.vhd
  hdl/control_address_generator.vhd
  hdl/control_init.vhd
  hdl/line_buffer.vhd
  hdl/scratchpad_interface.vhd
  hdl/sync.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

readded pe_conv_tb and pe_array_conv_5x5_channels_tb
  testbenches/pe_array_conv_5x5_channels_size/modelsim.ini
  testbenches/pe_array_conv_5x5_channels_size/run.do
  testbenches/pe_array_conv_5x5_channels_size/sources.tcl
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
  testbenches/pe_array_conv_5x5_channels_size/src/stimuli.py
  testbenches/pe_array_conv_5x5_channels_size/wave_2.do
  testbenches/pe_conv/modelsim.ini
  testbenches/pe_conv/run.do
  testbenches/pe_conv/sources.tcl
  testbenches/pe_conv/src/pe_conv_tb.vhd
  testbenches/pe_conv/wave.do
Due: test-pe-conv

Get rid of accelerator_2
  hdl/accelerator.vhd
  hdl/accelerator_2.vhd
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
  testbenches/functional/src/control_conv_tb.vhd
  testbenches/functional/wave_control_adr.do
  testbenches/functional/wave_control_adr_0.do
Due: none

Fix styleguide issues
  ci/config.yaml
  ci/config_tb.yaml
  hdl/accelerator.vhd
  testbenches/functional/src/control_conv_tb.vhd
Due: none

fix styleguide issues
  testbenches/functional/src/control_conv_tb.vhd
Due: none

Fix architecture selection from accelerator
  hdl/accelerator.vhd
  testbenches/functional/simulate.py
Due: none

trying to make control_address_generator work with only one architecture. So far it doesn't choose the chosen architectures correctly for the control module and the address_generator module
  hdl/accelerator.vhd
  hdl/control_address_generator.vhd
  testbenches/functional/src/control_conv_tb.vhd
  testbenches/functional/wave_control_adr.do
  testbenches/functional/wave_control_adr_0.do
Due: none

control_address_generator works with only one architecture
  hdl/accelerator.vhd
  hdl/control_address_generator.vhd
Due: none

cleanup
  hdl/control_address_generator.vhd
Due: none

add some annotations to variables
  hdl/address_generator_psum.vhd
Due: none

tb/functional: fix control_init compile order
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
Due: none

experimental fix for writing output data
  hdl/address_generator_psum.vhd
  testbenches/functional/simulate.py
Due: none

simulate.py: remove unnecessary whitespace
  testbenches/functional/simulate.py
Due: none

control: use 10-bit values for all configurations
  hdl/control.vhd
Due: none

ram_dp/ram_dp_init: make memories VHDL-2008 compliant
  hdl/ram_dp.vhd
  hdl/ram_dp_init.vhd
  testbenches/functional/src/control_conv_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

merge ram_dp and ram_dp_init, drop scratchpad_init
  hdl/accelerator.vhd
  hdl/ram_dp.vhd
  hdl/ram_dp_init.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_init.vhd
  testbenches/control_conv_acc/sources.tcl
  testbenches/control_conv_mem/sources.tcl
  testbenches/fifo_tb/sources.tcl
  testbenches/fifo_tb/sources_batch.tcl
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
  testbenches/kernels/sources.tcl
  testbenches/kernels/sources_batch.tcl
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

pe_array_conv: update wave and fix testbench
  testbenches/functional/run.do
  testbenches/functional/wave.do
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3/wave_2.do
Due: test-pe-array-conv-3x3

functional/simulate.py: don't pad memory files with zeroes
  testbenches/functional/simulate.py
Due: none

please the linter by fixing some style issues
  hdl/accelerator.vhd
  hdl/ram_dp.vhd
  hdl/scratchpad.vhd
  hdl/sync.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

address_generator_psum.vhd: please the linter, add comment
  hdl/address_generator_psum.vhd
Due: none

fix memory readback in testbench
  testbenches/functional/src/functional_tb.vhd
Due: none

simplify waveform setup
  testbenches/functional/wave.do
Due: none

ram_dp: use split ports for port a/b to enable bram inference
  hdl/ram_dp.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

rename control_conv_tb to functional_tb
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
  testbenches/functional/wave_control_adr.do
  testbenches/functional/wave_control_adr_0.do
Due: none

remove constr
  hdl/constr
Due: none

fix styleguide issues
  ci/config.yaml
  hdl/ram_dp.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

drop unused code, cosmetic fixes
  hdl/pe.vhd
  hdl/scratchpad_interface.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

fix some TO_INTEGER warnings on startup
  hdl/control.vhd
  hdl/fifos.vhd
  hdl/pe.vhd
  hdl/scratchpad_interface.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

fix unused o_m0_last_m1 having no driver (rs_dataflow)
  hdl/control.vhd
Due: none

functional_tb: fix result readout
  testbenches/functional/src/functional_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: none

functional: remove run_* and sources_* scripts, now unused
  testbenches/functional/run_batch.do
  testbenches/functional/run_batch2.do
  testbenches/functional/simulate.py
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
Due: none

functional: use single run.do script, improve waveform & compile script
  testbenches/functional/run.do
  testbenches/functional/simulate.py
  testbenches/functional/sources.tcl
  testbenches/functional/wave.do
Due: none

fix styleguide issues
  hdl/fifos.vhd
  hdl/pe.vhd
  hdl/ram_dp.vhd
  hdl/scratchpad_interface.vhd
  testbenches/functional/src/functional_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

simplify output verification logic for RS-dataflow
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
Due: none

pe.vhd: simplify north/south pe connections
  hdl/pe.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

mult: resize output for accumulator sizes /= input_width * 2
  hdl/mult.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

simulate.py: print execution errors properly
  testbenches/functional/simulate.py
Due: none
