Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

Path conditions:
  test-mac: any of: hdl/mac.vhd, hdl/utilities.vhd, testbenches/mac/**, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_iact/**, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_psum/**, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_wght/**, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/pe_conv/**, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3/**, .gitlab-ci.yml
  test-pe-array-conv-3x3-wide: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3_wide/**, .gitlab-ci.yml
  pe_array_conv_5x5_channels_tb: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_5x5_channels_size/**, .gitlab-ci.yml
  addr_gen_psum: any of: hdl/mux.vhd, hdl/address_generator_psum.vhd, hdl/ram_dp.vhd, testbenches/address_generator_psum/src/address_generator_psum.tb, .gitlab-ci.yml

gitlab-ci: add functional verification stage
  .gitlab-ci.yml
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

add new bias, activation, requantize modules to pe_array etc
  hdl/accelerator.vhd
  hdl/pe_array.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

functional: allow delta of +/-1 for requantized runs
  testbenches/functional/simulate.py
Due: none

utilities: limit int_line integer range to 10 bit
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

fix scratchpad error addrb_psum
  hdl/scratchpad.vhd
Due: none

simulate.py: fix override preset option parsing
  testbenches/functional/simulate.py
Due: none

address_generator: allow large simulations by increasing int size
  hdl/address_generator.vhd
Due: none

set sensible maximum values for some parameters
  hdl/accelerator.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

pe_array: remove unused i_params
  hdl/accelerator.vhd
  hdl/pe_array.vhd
Due: test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

introduce 10/18 bit unsigned int_line_t and use it if applicable
  hdl/address_generator.vhd
  hdl/address_generator_psum.vhd
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

simulate.py: only write eval if enabled manually
  testbenches/functional/src/functional_tb.vhd
Due: none

simulate.py: use m0 as default output channel count, cleanup
  hdl/utilities.vhd
  testbenches/functional/simulate.py
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

simulate.py: improve error handling
  testbenches/functional/simulate.py
Due: none

improve simulation pipeline, hopefully exit properly on errors
  testbenches/functional/run.do
  testbenches/functional/simulate.py
Due: none

enable activation module
  hdl/postproc.vhd
  testbenches/functional/src/functional_tb.vhd
Due: none

functional: implement relu activation
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
Due: none

acc_axi_regs: increase NUM_REGS to 80 to fit 10 requant regs
  hdl/axi/acc_axi_regs.vhd
Due: none

scratchpad: implement 64bit external scratchpad access
  hdl/scratchpad.vhd
Due: none

axi: fix regs to always use 32-bit registers, also in 64-bit bus
  hdl/axi/acc_axi_regs.vhd
  hdl/axi/acc_axi_top.vhd
Due: none

gitlab-ci.yml: use specific image for vhdl-style-guide
  .gitlab-ci.yml
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

please the linter
  hdl/div16.vhd
  hdl/scratchpad.vhd
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
Due: none

acc_axi_top: increase axi slave addr width to 9 for 128 regs
  hdl/axi/acc_axi_top.vhd
Due: none

demux.vhd: rename process to avoid entity name conflict
  hdl/demux.vhd
Due: none

deprecate some control_conv testbenches
  testbenches/deprecated/control_conv_5x5/run.do
  testbenches/deprecated/control_conv_5x5/sources.tcl
  testbenches/deprecated/control_conv_5x5/src/control_conv_5x5_tb.vhd
  testbenches/deprecated/control_conv_5x5/src/stimuli.py
  testbenches/deprecated/control_conv_5x5/wave.do
  testbenches/deprecated/control_conv_adr/run.do
  testbenches/deprecated/control_conv_adr/sources.tcl
  testbenches/deprecated/control_conv_adr/src/control_conv_adr_tb.vhd
  testbenches/deprecated/control_conv_adr/src/stimuli.py
  testbenches/deprecated/control_conv_adr/wave.do
  testbenches/deprecated/control_conv_mem/run.do
  testbenches/deprecated/control_conv_mem/sources.tcl
  testbenches/deprecated/control_conv_mem/src/control_conv_mem_tb.vhd
  testbenches/deprecated/control_conv_mem/src/stimuli.py
  testbenches/deprecated/control_conv_mem/wave.do
  testbenches/fifo_tb/run_batch.do
  testbenches/fifo_tb/sources_batch.tcl
Due: none

rename duplicate testbenches to unique names
  testbenches/control_conv_5x5/sources.tcl
  testbenches/control_conv_5x5/src/control_conv_5x5_tb.vhd
  testbenches/control_conv_5x5/wave.do
  testbenches/control_conv_acc/sources.tcl
  testbenches/control_conv_acc/src/control_conv_acc_tb.vhd
  testbenches/control_conv_acc/wave.do
  testbenches/control_conv_acc/wave_control_adr.do
  testbenches/control_conv_adr/sources.tcl
  testbenches/control_conv_adr/src/control_conv_adr_tb.vhd
  testbenches/control_conv_adr/wave.do
  testbenches/control_conv_mem/sources.tcl
  testbenches/control_conv_mem/src/control_conv_mem_tb.vhd
  testbenches/control_conv_mem/wave.do
  testbenches/kernels/sources.tcl
  testbenches/kernels/sources_batch.tcl
  testbenches/kernels/src/kernels_tb.vhd
  testbenches/kernels/wave.do
  testbenches/kernels/wave_control_adr.do
Due: none

provisionally fix some outdated testbenches
  testbenches/control_conv/src/control_conv_tb.vhd
  testbenches/fifo_tb/sources.tcl
  testbenches/fifo_tb/src/fifo_tb.vhd
  testbenches/fifo_tb/wave.do
  testbenches/pe_array_conv_3x3_wide/wave.do
  testbenches/pe_array_conv_3x3_wide/wave_2.do
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/wave.do
  testbenches/pe_array_conv_3x3_wide_high/wave_2.do
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_gemm_3x6/src/pe_array_gemm_3x6_tb.vhd
  testbenches/rr_arbiter/src/rr_arbiter_tb.vhd
Due: test-pe-array-conv-3x3-wide

fix generate statements shadowing labels
  hdl/address_generator.vhd
  hdl/scratchpad_interface.vhd
  testbenches/control_conv_acc/src/control_conv_acc_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: none

update testbenches for new accelerator i/o (params, mem i/f)
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
  testbenches/control_conv/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/control_conv_acc_tb.vhd
  testbenches/kernels/src/kernels_tb.vhd
Due: none

fixup testbenches for changes modules
  testbenches/control_conv/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/control_conv_acc_tb.vhd
  testbenches/kernels/src/kernels_tb.vhd
Due: none

fix outdated dut instantiation in line_buffer/pe testbenches
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
  testbenches/pe_conv/src/pe_conv_tb.vhd
Due: none

functional: fixup simulate.py for numpy 2.x, wave.do fixes
  testbenches/functional/simulate.py
  testbenches/functional/wave.do
Due: none

testbenches: please the linter
  testbenches/control_conv_acc/src/control_conv_acc_tb.vhd
  testbenches/kernels/src/kernels_tb.vhd
Due: none

functional/simulate.py: fix all simulations running with relu enabled
  testbenches/functional/simulate.py
Due: none

multiword FIFO WIP
  hdl/fifos.vhd
  testbenches/fifo_multiword_tb/run.do
  testbenches/fifo_multiword_tb/src/fifo_multiword_tb.vhd
  testbenches/fifo_multiword_tb/wave.do
Due: none

add parallelizer/serializer from Johannes Huober
  hdl/parallelizer.vhd
  hdl/serializer.vhd
Due: none

draft for multiword psum output
  hdl/accelerator.vhd
  hdl/fifos.vhd
  hdl/parallelizer.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  hdl/write_enable_gen.vhd
  testbenches/common/file_list.tcl
  testbenches/functional/src/functional_tb.vhd
Due: none

functional: make number of simulation workers configurable
  testbenches/functional/simulate.py
Due: none

postproc: use one channel tracker for all postproc modules
  hdl/postproc.vhd
  hdl/psum_activation.vhd
  hdl/psum_bias.vhd
  hdl/psum_requantize.vhd
Due: none

functional: fix relu being enabled always
  testbenches/functional/simulate.py
Due: none

address_generator_psum: support write_size > 1 & add word offset output
  hdl/address_generator_psum.vhd
  hdl/write_enable_gen.vhd
  testbenches/common/file_list.tcl
Due: addr_gen_psum
