Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

Path conditions:
  test-mac: any of: hdl/mac.vhd, hdl/utilities.vhd, testbenches/mac/**, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_iact/**, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_psum/**, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_wght/**, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/pe_conv/**, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3/**, .gitlab-ci.yml
  test-pe-array-conv-3x3-wide: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3_wide/**, .gitlab-ci.yml
  pe_array_conv_5x5_channels_tb: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_5x5_channels_size/**, .gitlab-ci.yml
  addr_gen_psum: any of: hdl/mux.vhd, hdl/address_generator_psum.vhd, hdl/ram_dp.vhd, testbenches/address_generator_psum/src/address_generator_psum.tb, .gitlab-ci.yml

acc_axi_regs: fix large conv2ds with correct width of parameter assignments
  hdl/axi/acc_axi_regs.vhd
Due: none

add status flag for offset fifos being empty
  hdl/axi/acc_axi_regs.vhd
  hdl/scratchpad_interface.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

fix psum addrgen for raw psums
  hdl/address_generator_psum.vhd
  hdl/parallelizer.vhd
  hdl/scratchpad_interface.vhd
  hdl/serializer.vhd
  testbenches/functional/wave.do
Due: addr_gen_psum

accelerator: simplify the params_sp pipeline
  hdl/accelerator.vhd
Due: none

functional: default to clk/clk_sp of 10ns/10ns
  testbenches/functional/simulate.py
Due: none

serializer: pull down o_valid if not i_ready
  hdl/serializer.vhd
Due: none

functional_tb: set params.dataflow accordingly
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: none

remove psum_word_offsets, use byte-wise psum address
  hdl/accelerator.vhd
  hdl/address_generator_iact.vhd
  hdl/address_generator_psum.vhd
  hdl/address_generator_wght.vhd
  hdl/axi/acc_axi_regs.vhd
  hdl/control_address_generator.vhd
  hdl/scratchpad_interface.vhd
  hdl/utilities.vhd
  testbenches/functional/wave.do
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

move address_generator_psum to clk domain and into control_address_generator
  hdl/accelerator.vhd
  hdl/address_generator_psum.vhd
  hdl/control_address_generator.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
  testbenches/functional/wave.do
Due: addr_gen_psum

use unified addrgen for iact/wght, remove old address_generator
  hdl/address_generator.vhd
  hdl/address_generator_iact.vhd
  hdl/address_generator_wght.vhd
  hdl/control_address_generator.vhd
  testbenches/address_generator/sources.tcl
  testbenches/common/file_list.tcl
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: none

functional_tb: minor code cleanup
  testbenches/functional/src/functional_tb.vhd
Due: none

scratchpad_interface: use start signal in clk_sp domain to fix timing
  hdl/scratchpad_interface.vhd
Due: none

toplevel: remove unused status_sp pipeline
  hdl/accelerator.vhd
Due: none

addrgen_psum: fix testbench
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
Due: none

gitlab-ci: run 8 simulations in parallel
  .gitlab-ci.yml
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

bump stride_wght_och to 12 bits to support 1024 5x5 channels
  hdl/axi/acc_axi_regs.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

simulate.py: merge parameter calculation for SRS & TRS
  testbenches/functional/simulate.py
Due: none

simulate.py: allocate twice the space for non-requantized psums
  testbenches/functional/simulate.py
Due: none

tb/functional: add cycle counter to _eval_status.txt
  testbenches/functional/src/functional_tb.vhd
Due: none

simulate.py: improve parameter calculation for TRS dataflow
  testbenches/functional/simulate.py
Due: none

control srs: clean up radically
  hdl/control_arch_rs.vhd
Due: none

simulate.py: add psum throttle option
  testbenches/functional/simulate.py
Due: none

control trs: remove dead code
  hdl/control_arch_alt_rs.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

spadif: fix psum overflow counter
  hdl/scratchpad_interface.vhd
Due: none

control trs: add a psum throttle feature
  hdl/control_arch_alt_rs.vhd
  hdl/utilities.vhd
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

tb/functional: update in_fifos_sweep preset, add o_status to tb
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: none

control alt_rs: avoid a latch
  hdl/control_arch_alt_rs.vhd
Due: none

acc_axi_top: bump scratchpad frequency to 125MHz
  hdl/axi/acc_axi_top.vhd
Due: none

axi_regs: add the throttle register
  hdl/axi/acc_axi_regs.vhd
Due: none

pe: remove delayed enable signal (experimental)
  hdl/pe.vhd
Due: test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

control trs: clean up radically
  hdl/control_arch_alt_rs.vhd
Due: none

simulate.py: more testcases for the 'ci' preset
  testbenches/functional/simulate.py
Due: none

update README
  README.md
  docs/architecture-axi.svg
Due: none

docs: add a white background to the architecture image
  docs/architecture-axi.svg
Due: none

acc_axi_top: remove the FREQ_HZ parameter, vivado does not seem to need it
  hdl/axi/acc_axi_top.vhd
Due: none

axi: add irq enable / irq clear bits
  hdl/axi/acc_axi_regs.vhd
  hdl/axi/acc_axi_top.vhd
Due: none

addrgen psum: break up logic path on startup (should fix timing)
  hdl/address_generator_psum.vhd
  testbenches/address_generator_psum/wave.do
Due: addr_gen_psum

spadif: add register for all_psum_empty detection
  hdl/scratchpad_interface.vhd
Due: none

spadif: avoid warning due to unsigned conversion in port actual
  hdl/scratchpad_interface.vhd
Due: none

functional: wafeform fix for psum addrgen for raw psums
  testbenches/functional/wave.do
Due: none
