Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

test-mac:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/mac
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-iact:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_iact
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-psum:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_psum
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-wght:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_wght
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-conv:
  stage: test_2
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/pe_conv
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-array-conv-3x3:
  stage: test_3
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/pe_array_conv_3x3
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

split control architectures into separate files
  hdl/control.vhd
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  testbenches/functional/sources.tcl
Due: none

introduce and_reduce_2d and use it for unused o_buffer_full signals
  hdl/pe_array.vhd
  hdl/utilities.vhd
Due: test-pe-array-conv-3x3

functional: don't expand all waveform groups by default
  testbenches/functional/wave.do
Due: none

fix pe_array_conv_5x5 instantiation errors and waveform
  testbenches/pe_array_conv_5x5/run.do
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_conv_5x5/wave.do
  testbenches/pe_array_conv_5x5/wave_2.do
Due: none

ram_dp/ram_dp_init: make memories VHDL-2008 compliant
  hdl/ram_dp.vhd
  hdl/ram_dp_init.vhd
  testbenches/functional/src/control_conv_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

simulate.py: remove unnecessary whitespace
  testbenches/functional/simulate.py
Due: none

control: use 10-bit values for all configurations
  hdl/control.vhd
Due: none

functional/simulate.py: don't pad memory files with zeroes
  testbenches/functional/simulate.py
Due: none

please the linter by fixing some style issues
  hdl/accelerator.vhd
  hdl/ram_dp.vhd
  hdl/scratchpad.vhd
  hdl/sync.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

merge ram_dp and ram_dp_init, drop scratchpad_init
  hdl/accelerator.vhd
  hdl/ram_dp.vhd
  hdl/ram_dp_init.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_init.vhd
  testbenches/control_conv_acc/sources.tcl
  testbenches/control_conv_mem/sources.tcl
  testbenches/fifo_tb/sources.tcl
  testbenches/fifo_tb/sources_batch.tcl
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
  testbenches/kernels/sources.tcl
  testbenches/kernels/sources_batch.tcl
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

address_generator_psum.vhd: please the linter, add comment
  hdl/address_generator_psum.vhd
Due: none

pe_array_conv: update wave and fix testbench
  testbenches/functional/run.do
  testbenches/functional/wave.do
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3/wave_2.do
Due: test-pe-array-conv-3x3

ram_dp: use split ports for port a/b to enable bram inference
  hdl/ram_dp.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

fix styleguide issues
  hdl/fifos.vhd
  hdl/pe.vhd
  hdl/ram_dp.vhd
  hdl/scratchpad_interface.vhd
  testbenches/functional/src/functional_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

fix memory readback in testbench
  testbenches/functional/src/functional_tb.vhd
Due: none

fix styleguide issues
  ci/config.yaml
  hdl/ram_dp.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

drop unused code, cosmetic fixes
  hdl/pe.vhd
  hdl/scratchpad_interface.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

fix unused o_m0_last_m1 having no driver (rs_dataflow)
  hdl/control.vhd
Due: none

simplify waveform setup
  testbenches/functional/wave.do
Due: none

rename control_conv_tb to functional_tb
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
  testbenches/functional/wave_control_adr.do
  testbenches/functional/wave_control_adr_0.do
Due: none

remove constr
  hdl/constr
Due: none

functional_tb: fix result readout
  testbenches/functional/src/functional_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: none

functional: use single run.do script, improve waveform & compile script
  testbenches/functional/run.do
  testbenches/functional/simulate.py
  testbenches/functional/sources.tcl
  testbenches/functional/wave.do
Due: none

simplify output verification logic for RS-dataflow
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
Due: none

fix some TO_INTEGER warnings on startup
  hdl/control.vhd
  hdl/fifos.vhd
  hdl/pe.vhd
  hdl/scratchpad_interface.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

pe.vhd: simplify north/south pe connections
  hdl/pe.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

functional: remove run_* and sources_* scripts, now unused
  testbenches/functional/run_batch.do
  testbenches/functional/run_batch2.do
  testbenches/functional/simulate.py
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
Due: none

mult: resize output for accumulator sizes /= input_width * 2
  hdl/mult.vhd
Due: test-pe-conv, test-pe-array-conv-3x3

simulate.py: print execution errors properly
  testbenches/functional/simulate.py
Due: none

update ci config for newst vsg version
  ci/config.yaml
Due: none

please the linter
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/pe_array.vhd
  hdl/rr_arbiter.vhd
  hdl/utilities.vhd
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
Due: test-pe-array-conv-3x3

update gitlab-ci.yml
  .gitlab-ci.yml
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

simulate.py: add test program configuration
  testbenches/functional/simulate.py
Due: none

simulate.py: temporarily fix license file
  testbenches/functional/simulate.py
Due: none

wave: properly add scratchpad signals
  testbenches/functional/wave.do
Due: none

rework address_generator_psum
  hdl/accelerator.vhd
  hdl/address_generator_psum.vhd
Due: none

Path conditions:
  test-mac: any of: hdl/mac.vhd, testbenches/mac/src/*, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_iact/src/*, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_psum/src/*, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_wght/src/*, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, testbenches/pe_conv/src/*, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, testbenches/pe_array_conv_3x3/src/*, .gitlab-ci.yml
