Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

test-mac:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/mac
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-iact:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/line_buffer_iact
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-psum:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/line_buffer_psum
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-wght:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/line_buffer_wght
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-conv:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_modules
  script:
  - cd testbenches/pe_conv
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-array-conv-3x3:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_pe_array
  script:
  - cd testbenches/pe_array_conv_3x3
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-array-conv-3x3-wide:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_pe_array
  script:
  - cd testbenches/pe_array_conv_3x3
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

pe_array_conv_5x5_channels_tb:
  tags:
  - modelsim
  before_script:
  - - source /etc/profile.d/modules.sh && module load questa/2023.4
  - cd testbenches/pe_array_conv_5x5_channels_size/src
  - python3 stimuli.py
  - python3 program.py
  stage: test_pe_array
  script:
  - cd ..
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

addr_gen_psum:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_modules
  script:
  - cd testbenches/address_generator_psum
  - vsim -batch -nolog -do "../../ci/simulate.tcl"

tested implementation for multiword psum writeout
  hdl/accelerator.vhd
  hdl/address_generator_psum.vhd
  hdl/fifos.vhd
  hdl/parallelizer.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  hdl/serializer.vhd
  hdl/utilities.vhd
  testbenches/address_generator_psum/run.do
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
  testbenches/address_generator_psum/wave.do
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

WIP: reformatter for NCHW input
  hdl/ram_mw.vhd
  hdl/reformatter.vhd
  testbenches/common/file_list.tcl
  testbenches/reformatter/run.do
  testbenches/reformatter/src/reformatter_tb.vhd
  testbenches/reformatter/wave.do
Due: none

fifo_multiword_tb: please the linter
  testbenches/fifo_multiword_tb/src/fifo_multiword_tb.vhd
Due: none

address_generator rework WIP
  hdl/address_generator.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

add spad_reshape for nchw -> nhwc conversion
  hdl/spad_reshape.vhd
  testbenches/common/file_list.tcl
  testbenches/spad_reshape/run.do
  testbenches/spad_reshape/src/spad_reshape_tb.vhd
  testbenches/spad_reshape/wave.do
Due: none

address generator for spad_reshape WIP
  hdl/address_generator.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

move address generator to _iact.vhd
  hdl/address_generator_iact.vhd
  hdl/spad_reshape.vhd
  testbenches/address_generator/run.do
  testbenches/address_generator/sources.tcl
  testbenches/address_generator/src/address_generator_tb.vhd
  testbenches/address_generator/wave.do
  testbenches/common/file_list.tcl
Due: none

restore original address_generator for transition phase
  hdl/address_generator.vhd
Due: none

update serializer and add testbench
  hdl/serializer.vhd
  testbenches/serializer/run.do
  testbenches/serializer/src/serializer_tb.vhd
  testbenches/serializer/wave.do
Due: none

fully implement multiword iact loader
  hdl/accelerator.vhd
  hdl/address_generator_iact.vhd
  hdl/control_address_generator.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  hdl/spad_reshape.vhd
  hdl/utilities.vhd
  testbenches/address_generator/src/address_generator_tb.vhd
  testbenches/address_generator/wave.do
  testbenches/common/file_list.tcl
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
  testbenches/serializer/run.do
  testbenches/spad_reshape/src/spad_reshape_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

please the linter
  ci/config_tb.yaml
  hdl/address_generator_iact.vhd
  hdl/ram_mw.vhd
  hdl/reformatter.vhd
  hdl/scratchpad_interface.vhd
  hdl/serializer.vhd
  hdl/spad_reshape.vhd
  hdl/utilities.vhd
  testbenches/address_generator/src/address_generator_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

implement multiword weight loader
  hdl/accelerator.vhd
  hdl/address_generator.vhd
  hdl/address_generator_iact.vhd
  hdl/address_generator_wght.vhd
  hdl/control.vhd
  hdl/control_address_generator.vhd
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  hdl/spad_reshape.vhd
  hdl/utilities.vhd
  testbenches/common/file_list.tcl
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

fix rr_arbiter testbench
  testbenches/rr_arbiter/run.do
  testbenches/rr_arbiter/sources.tcl
  testbenches/rr_arbiter/src/rr_arbiter_tb.vhd
  testbenches/rr_arbiter/wave.do
Due: none

rename _binary_* to _idx_* for clarity
  hdl/accelerator.vhd
  hdl/address_generator_psum.vhd
  hdl/scratchpad_interface.vhd
Due: addr_gen_psum

add psum_requantize testbench
  testbenches/psum_requantize/run.do
  testbenches/psum_requantize/sources.tcl
  testbenches/psum_requantize/src/gen_ieee754.py
  testbenches/psum_requantize/src/psum_requantize_tb.vhd
  testbenches/psum_requantize/wave.do
Due: none

unify iact & wght data into spad_reshape
  hdl/accelerator.vhd
  hdl/address_generator_psum.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: addr_gen_psum

implement unified scratchpad for psum as well
  hdl/accelerator.vhd
  hdl/address_generator_psum.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  hdl/utilities.vhd
  testbenches/address_generator/src/address_generator_tb.vhd
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
  testbenches/spad_reshape/src/spad_reshape_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

update axi WIP
  hdl/accelerator.vhd
  hdl/axi/acc_axi_regs.vhd
  hdl/axi/acc_axi_top.vhd
  hdl/scratchpad.vhd
Due: none

postproc: allow to use xilinx float32_mac IP for requant
  hdl/postproc.vhd
  hdl/psum_requantize.vhd
  testbenches/psum_requantize/run.do
  testbenches/psum_requantize/src/psum_requantize_tb.vhd
  testbenches/psum_requantize/wave.do
Due: none

spadif: fix waiting for psum offset if fifo empty
  hdl/scratchpad_interface.vhd
  testbenches/functional/wave.do
Due: none

linter fixes for testbenches
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
  testbenches/functional/src/functional_tb.vhd
  testbenches/psum_requantize/src/psum_requantize_tb.vhd
  testbenches/rr_arbiter/src/rr_arbiter_tb.vhd
  testbenches/serializer/src/serializer_tb.vhd
Due: none

simulate.py: align c0 to 8 instead of equally distributing over c1
  testbenches/functional/simulate.py
Due: none

addrgen wght: fix c1 offset
  hdl/address_generator_wght.vhd
Due: none

add sync and pipeline for signals used in clk_sp domain
  hdl/accelerator.vhd
  hdl/scratchpad_interface.vhd
  hdl/utilities.vhd
  testbenches/functional/src/functional_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

ram_dp_bwe: use single clock, make compatible with UltraRAM
  hdl/accelerator.vhd
  hdl/ram_dp_bwe.vhd
  hdl/scratchpad.vhd
  hdl/spad_reshape.vhd
Due: none

axi: update toplevel and registers for HW rev 4 (multiword)
  hdl/axi/acc_axi_regs.vhd
  hdl/axi/acc_axi_top.vhd
Due: none

simulate: add option to apply the same kernel to each input channel
  testbenches/functional/simulate.py
  testbenches/functional/wave.do
Due: none

drop reformatter / ram_mw
  hdl/ram_mw.vhd
  hdl/reformatter.vhd
  testbenches/common/file_list.tcl
  testbenches/reformatter/run.do
  testbenches/reformatter/src/reformatter_tb.vhd
  testbenches/reformatter/wave.do
Due: none

simulate.py: use np.concatenate for numpy<2.0 compat
  testbenches/functional/simulate.py
Due: none

psum addrgen: stop generating addresses when done
  hdl/address_generator_psum.vhd
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
  testbenches/address_generator_psum/wave.do
Due: addr_gen_psum

functional/simulate.py: use sensible defaults for pe i/o fifos
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
Due: none

functional/simulate.py: print invalid data only when > acceptable_delta
  testbenches/functional/simulate.py
Due: none

address_generator_wght: experimental fixes for vivado integer warnings
  hdl/address_generator_wght.vhd
Due: none

control_arch_rs: fix stray data ending up in output
  hdl/control_arch_rs.vhd
Due: none

psum addrgen: fixup for bd758fa, off-by-one error in h2 comparison
  hdl/address_generator_psum.vhd
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
  testbenches/address_generator_psum/wave.do
Due: addr_gen_psum

add generic for xilinx float ip in postproc stage, rename postproc flag
  hdl/accelerator.vhd
  hdl/axi/acc_axi_top.vhd
  hdl/pe_array.vhd
  hdl/postproc.vhd
  testbenches/functional/src/functional_tb.vhd
Due: test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

drop psum_halfword from pe array
  hdl/accelerator.vhd
  hdl/pe_array.vhd
  hdl/postproc.vhd
  testbenches/functional/wave.do
Due: test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

functional: check spad size, variable alignment, waveform fixes
  testbenches/functional/simulate.py
  testbenches/functional/wave.do
Due: none

initial support for raw psum datapath
  hdl/address_generator_psum.vhd
  hdl/parallelizer.vhd
  hdl/postproc.vhd
  hdl/scratchpad_interface.vhd
Due: addr_gen_psum

address_generator_iact/wght: support TRS dataflow in the same architecture
  hdl/address_generator_iact.vhd
  hdl/address_generator_wght.vhd
Due: none

Path conditions:
  test-mac: any of: hdl/mac.vhd, hdl/utilities.vhd, testbenches/mac/**, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_iact/**, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_psum/**, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_wght/**, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/pe_conv/**, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3/**, .gitlab-ci.yml
  test-pe-array-conv-3x3-wide: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3_wide/**, .gitlab-ci.yml
  pe_array_conv_5x5_channels_tb: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_5x5_channels_size/**, .gitlab-ci.yml
  addr_gen_psum: any of: hdl/mux.vhd, hdl/address_generator_psum.vhd, hdl/ram_dp.vhd, testbenches/address_generator_psum/src/address_generator_psum.tb, .gitlab-ci.yml
