Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

Path conditions:
  test-mac: any of: hdl/mac.vhd, testbenches/mac/src/*, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_iact/src/*, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_psum/src/*, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_wght/src/*, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, testbenches/pe_conv/src/*, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, testbenches/pe_array_conv_3x3/src/*, .gitlab-ci.yml

spadif: improve the startup procedure
  hdl/scratchpad_interface.vhd
Due: none

spadif: fix uneven preloading on some clocking configurations
  hdl/accelerator.vhd
  hdl/scratchpad_interface.vhd
Due: none

accelerator: bump default fifo sizes to 16 for iact/wght, 512 for psum
  hdl/accelerator.vhd
Due: none

use axi clk for external spad access
  hdl/accelerator.vhd
  hdl/axi/acc_axi_top.vhd
  hdl/scratchpad.vhd
  testbenches/functional/src/functional_tb.vhd
Due: none

accelerator: drive unused pe array inputs with 0
  hdl/accelerator.vhd
Due: none

acc_axi_top: correct target clock of acc -> axi signal sync
  hdl/axi/acc_axi_top.vhd
Due: none

control_arch_rs: fix command signal width to size_x
  hdl/control_arch_rs.vhd
Due: none

line_buffer: fix double-shrink issues when i_enable low
  hdl/line_buffer.vhd
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_iact/wave.do
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

functional: overhaul input generation in simulate.py
  testbenches/functional/simulate.py
Due: none

gitlab-ci.yml: assume numpy is provided by the image
  .gitlab-ci.yml
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

fix pe_array_conv_5x5_channels_size/program.py replacement magic
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
Due: none

update elements in pe_array_conv_5x5_channels_size/wave.do
  testbenches/pe_array_conv_5x5_channels_size/wave.do
Due: none

line_buffer: fix full flag not deasserting when shrinking all values
  hdl/line_buffer.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

pe_array_conv_5x5_channels_tb: please the linter
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: none

functional: fix simulation runs for > 10 ms with run -all
  testbenches/functional/run.do
Due: none

control alt_rs: enter done only if all psum written
  hdl/control_arch_alt_rs.vhd
Due: none

simulate.py: don't hardcode vsim/license path, try -batch instead of -c
  testbenches/functional/simulate.py
Due: none

functional: fix wave.do for external postproc module
  testbenches/functional/wave.do
Due: none

act/bias/requant: please the linter
  hdl/pe_array.vhd
  hdl/psum_activation.vhd
  hdl/psum_bias.vhd
  hdl/psum_requantize.vhd
  hdl/scratchpad.vhd
Due: test-pe-array-conv-3x3

try fix error, target has 15 bit, source 14
  hdl/axi/acc_axi_regs.vhd
Due: none

axi_regs: hw revision 3. add capability & requantize regs
  hdl/accelerator.vhd
  hdl/axi/acc_axi_regs.vhd
  hdl/axi/acc_axi_top.vhd
  hdl/pe_array.vhd
  hdl/utilities.vhd
  testbenches/functional/src/functional_tb.vhd
Due: test-pe-array-conv-3x3

add convolution bias
  testbenches/functional/src/functional_tb.vhd
Due: none

use rocky9 image
  .gitlab-ci.yml
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

README: update jupyter command to work around podman issue
  README.md
Due: none

rename generic for bias/act/requant to "postproc"
  hdl/accelerator.vhd
  hdl/axi/acc_axi_regs.vhd
  hdl/axi/acc_axi_top.vhd
  hdl/pe_array.vhd
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: test-pe-array-conv-3x3

utilities: increate int_line_t range to 14 bits to fix trs dataflow
  hdl/utilities.vhd
Due: none

psum_requantize: improve the float32 pipeline
  hdl/psum_requantize.vhd
Due: none

add convolution bias
  hdl/pe_array.vhd
  hdl/psum_bias.vhd
  hdl/utilities.vhd
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: test-pe-array-conv-3x3

functional: introduce simulation presets and allow override
  testbenches/functional/simulate.py
Due: none

axi_regs: calculate address width automatically
  hdl/axi/acc_axi_regs.vhd
Due: none

hdl: please the linter
  hdl/accelerator.vhd
  hdl/postproc.vhd
Due: none

update vhdl-style-guide: lowercase type names + end function labels
  hdl/div16.vhd
  hdl/fifos.vhd
  hdl/gray.vhd
  hdl/line_buffer.vhd
  hdl/ram_dp.vhd
  hdl/ram_dp_bwe.vhd
  hdl/sync.vhd
  hdl/utilities.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/control_conv_tb.vhd
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_mem/src/control_conv_tb.vhd
  testbenches/fifo_tb/src/fifo_tb.vhd
  testbenches/functional/src/functional_tb.vhd
  testbenches/kernels/run.do
  testbenches/kernels/src/control_conv_tb.vhd
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
  testbenches/mac/src/mac_tb.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_gemm_3x3/src/pe_array_gemm_3x3_tb.vhd
  testbenches/pe_array_gemm_3x6/src/pe_array_gemm_3x6_tb.vhd
  testbenches/rr_arbiter/src/rr_arbiter_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

functional_tb: same bias for all output channels
  testbenches/functional/src/functional_tb.vhd
Due: none

hdl: implement requantize for up to max output channels
  hdl/axi/acc_axi_regs.vhd
  hdl/pe_array.vhd
  hdl/psum_bias.vhd
  hdl/psum_requantize.vhd
  hdl/utilities.vhd
Due: test-pe-array-conv-3x3

move postproc outside of pe_array
  hdl/accelerator.vhd
  hdl/pe_array.vhd
  hdl/postproc.vhd
  testbenches/common/file_list.tcl
  testbenches/functional/src/functional_tb.vhd
Due: test-pe-array-conv-3x3

address_generator_psum: simplify helper variable
  hdl/address_generator_psum.vhd
Due: none

add prototypes for bias, activation, requantization units
  hdl/psum_activation.vhd
  hdl/psum_bias.vhd
  hdl/psum_requantize.vhd
  testbenches/common/file_list.tcl
Due: none

bias array
  hdl/axi/acc_axi_regs.vhd
  hdl/psum_bias.vhd
  hdl/utilities.vhd
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: none

simulate.py: properly add bias for full convolution only
  testbenches/functional/simulate.py
Due: none

tb_functional: requantize & bias features for testbench
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: none
