Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

Path conditions:
  test-mac: any of: hdl/mac.vhd, hdl/utilities.vhd, testbenches/mac/**, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_iact/**, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_psum/**, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_wght/**, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/pe_conv/**, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3/**, .gitlab-ci.yml
  test-pe-array-conv-3x3-wide: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3_wide/**, .gitlab-ci.yml
  pe_array_conv_5x5_channels_tb: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_5x5_channels_size/**, .gitlab-ci.yml
  addr_gen_psum: any of: hdl/mux.vhd, hdl/address_generator_psum.vhd, hdl/ram_dp.vhd, testbenches/address_generator_psum/src/address_generator_psum.tb, .gitlab-ci.yml

simulate.py: fix memory file creation
  testbenches/functional/simulate.py
Due: none

make stride_iact_hw count in input pixels (analogous to 2d071ee)
  hdl/address_generator_iact.vhd
  hdl/utilities.vhd
  testbenches/functional/simulate.py
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

spadif: increase iact/wght done pipeline length
  hdl/scratchpad_interface.vhd
Due: none

parallelizer: always reset counter to 0
  hdl/parallelizer.vhd
Due: none

addrgen iact/psum: wrap multiple times if necessary
  hdl/address_generator_iact.vhd
  hdl/address_generator_psum.vhd
Due: addr_gen_psum

control rs: don't shrink if nothing needs to be shrinked
  hdl/control_arch_rs.vhd
Due: none

extract throttle counter and use it in alt rs control
  hdl/control_arch_alt_rs.vhd
  hdl/throttle.vhd
  testbenches/common/file_list.tcl
Due: none

control rs: use throttle unit to support high m0 counts (1x1 kernels)
  hdl/control_arch_rs.vhd
Due: none

fix pe_conv testbench for new shink behavior
  testbenches/pe_conv/src/pe_conv_tb.vhd
  testbenches/pe_conv/wave.do
Due: test-pe-conv

fix addrgen psum testbench for changes from 374e4cd
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
Due: none

change throttle module to use delta-sigma modulation style
  hdl/throttle.vhd
Due: none

control: wait for empty psum fifos when entering output phase
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

throttle: fix sigma-delta modulation, calculate throttle value properly
  hdl/throttle.vhd
  testbenches/functional/simulate.py
Due: none

addrgen: update labels to avoid shadowing others
  hdl/address_generator_iact.vhd
  hdl/address_generator_wght.vhd
  testbenches/address_generator/src/address_generator_tb.vhd
Due: none

addrgen psum: drop sources.tcl
  testbenches/address_generator_psum/sources.tcl
Due: none

drop unused dc_merge_fifo and fifo_multiword_tb
  hdl/fifos.vhd
  testbenches/fifo_multiword_tb/run.do
  testbenches/fifo_multiword_tb/src/fifo_multiword_tb.vhd
  testbenches/fifo_multiword_tb/wave.do
Due: none

fix small testbenches for interface changes
  testbenches/address_generator/src/address_generator_tb.vhd
  testbenches/control_conv_acc/src/control_conv_acc_tb.vhd
  testbenches/kernels/src/kernels_tb.vhd
  testbenches/psum_requantize/src/psum_requantize_tb.vhd
  testbenches/spad_reshape/src/spad_reshape_tb.vhd
Due: none

vsg update: disable instantiation_036, enforce space around operators
  ci/config.yaml
  ci/config_tb.yaml
  hdl/fifos.vhd
  hdl/gray.vhd
  hdl/sync.vhd
Due: none

address_generator_psum_tb: styleguide fixes
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
Due: none

functional: add postproc input to wave.do
  testbenches/functional/wave.do
Due: none

simulate.py: add --row-number-image option
  testbenches/functional/simulate.py
Due: none

functional: drop wave_control_adr*
  testbenches/functional/wave_control_adr.do
  testbenches/functional/wave_control_adr_0.do
Due: none

output channel tiling support for rs dataflow
  hdl/address_generator_iact.vhd
  hdl/address_generator_psum.vhd
  hdl/address_generator_wght.vhd
  hdl/control_arch_rs.vhd
  hdl/utilities.vhd
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

addrgen psum: suppress output when all output channels have been written
  hdl/address_generator_psum.vhd
Due: addr_gen_psum

axi regs: add m1 register
  hdl/axi/acc_axi_regs.vhd
Due: none

addrgen iact/psum: make fixed loop boundaries for overflow check
  hdl/address_generator_iact.vhd
  hdl/address_generator_psum.vhd
Due: addr_gen_psum

axi top: increase spad size to 2MiB
  hdl/axi/acc_axi_top.vhd
Due: none

update magic register to revision 6
  hdl/axi/acc_axi_regs.vhd
Due: none

simulate.py: use total number of output channels instead of M0
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: none

simulate.py: print list of failed tests after run
  testbenches/functional/simulate.py
Due: none

functional_tb: fetch as many scaling parameters as possible
  testbenches/functional/src/functional_tb.vhd
Due: none

postproc: quick hack to scale output channels > m0 properly
  hdl/accelerator.vhd
  hdl/control.vhd
  hdl/control_address_generator.vhd
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/postproc.vhd
Due: none

simulate.py: add safety margin to throttle factor
  testbenches/functional/simulate.py
Due: none

postproc: count current channel properly for m1 > 1
  hdl/accelerator.vhd
  hdl/control.vhd
  hdl/control_address_generator.vhd
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/postproc.vhd
  testbenches/functional/wave.do
Due: none

control alt_rs: delay psum pass mode independent of i_enable
  hdl/control_arch_alt_rs.vhd
Due: none

functional wave: make PE generation more dynamic (configurable x)
  testbenches/functional/wave.do
Due: none

pe: code cleanup and simplification
  hdl/pe.vhd
Due: test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

fix pe_array_conv_3x3_tb
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3/wave.do
  testbenches/pe_array_conv_3x3/wave_2.do
Due: test-pe-array-conv-3x3

fix pe_array_conv_5x5_channels_tb
  testbenches/pe_array_conv_5x5_channels_size/sources.tcl
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
Due: pe_array_conv_5x5_channels_tb

fix pe_array_conv_3x3_wide_tb
  .gitlab-ci.yml
  testbenches/pe_array_conv_3x3_wide/run.do
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_3x3_wide/wave.do
  testbenches/pe_array_conv_3x3_wide/wave_2.do
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum
