Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

test-mac:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/mac
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-iact:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_iact
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-psum:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_psum
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-wght:
  stage: test_1
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_wght
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-conv:
  stage: test_2
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/pe_conv
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-array-conv-3x3:
  stage: test_3
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/pe_array_conv_3x3
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

[CLEAN] some cleanup
  testbenches/pe_array_gemm_3x3/src/pe_array_gemm_3x3_tb.vhd
Due: none

[FEAT] Control module
  .gitignore
  hdl/control.vhd
  testbenches/control_conv/modelsim.ini
  testbenches/control_conv/run.do
  testbenches/control_conv/sources.tcl
  testbenches/control_conv/src/control_conv_tb.vhd
  testbenches/control_conv/wave.do
  testbenches/control_conv_5x5/modelsim.ini
  testbenches/control_conv_5x5/run.do
  testbenches/control_conv_5x5/sources.tcl
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_5x5/src/stimuli.py
  testbenches/control_conv_5x5/wave.do
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
  testbenches/pe_array_conv_5x5_channels_size/wave_2.do
  testbenches/pe_array_gemm_3x6/modelsim.ini
  testbenches/pe_array_gemm_3x6/run.do
  testbenches/pe_array_gemm_3x6/sources.tcl
  testbenches/pe_array_gemm_3x6/src/pe_array_gemm_3x6_tb.vhd
  testbenches/pe_array_gemm_3x6/wave.do
  testbenches/pe_array_gemm_3x6/wave_2.do
Due: none

[FIX] control working, tile x and y
  hdl/control.vhd
  testbenches/control_conv/wave.do
  testbenches/control_conv_5x5/sources.tcl
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_5x5/src/stimuli.py
  testbenches/control_conv_5x5/wave.do
Due: none

[FEAT] c most inner loop
  hdl/control.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_5x5/src/stimuli.py
  testbenches/control_conv_5x5/wave.do
Due: none

[FEAT] tile c control
  hdl/control.vhd
  hdl/line_buffer.vhd
  hdl/pe_array.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_5x5/wave.do
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

[FIX] remove latch
  hdl/control.vhd
  testbenches/control_conv_5x5/wave.do
Due: none

[INIT] initial commit
  hdl/address_generator.vhd
Due: none

[CLEAN] some cleanup
  README.md
  ci/vsg_configuration_tb.json
Due: none

[FIX] tiling c
  hdl/control.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_5x5/src/stimuli.py
  testbenches/control_conv_5x5/wave.do
Due: none

[CLEAN] some cleanup
  hdl/control.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_5x5/src/stimuli.py
Due: none

[FEAT] iact adr generator
  hdl/address_generator.vhd
  hdl/control.vhd
  hdl/div16.vhd
  hdl/line_buffer.vhd
  hdl/pe.vhd
  hdl/pe_array.vhd
  hdl/ram_dp.vhd
  testbenches/control_conv_adr/modelsim.ini
  testbenches/control_conv_adr/run.do
  testbenches/control_conv_adr/sources.tcl
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_adr/src/stimuli.py
  testbenches/control_conv_adr/wave.do
  testbenches/pe_array_conv_5x5_channels_size/src/test.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

[FEAT] dual-clk FIFO
  .gitignore
  README.md
  hdl/address_generator.vhd
  testbenches/control_conv_adr/modelsim.ini
  testbenches/control_conv_adr/run.do
  testbenches/control_conv_adr/sources.tcl
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_adr/src/stimuli.py
  testbenches/control_conv_adr/wave.do
Due: none

[CLEAN] Readme
  README.md
Due: none

[FEAT] scratchpad with interface, accelerator top
  ci/vsg_configuration.json
  hdl/accelerator.vhd
  hdl/address_generator.vhd
  hdl/control.vhd
  hdl/demux.vhd
  hdl/div16.vhd
  hdl/line_buffer.vhd
  hdl/onehot_binary.vhd
  hdl/pe_array.vhd
  hdl/ram_dp_init.vhd
  hdl/rr_arbiter.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  hdl/utilities.vhd
  testbenches/control_conv/src/control_conv_tb.vhd
  testbenches/control_conv_acc/modelsim.ini
  testbenches/control_conv_acc/run.do
  testbenches/control_conv_acc/sources.tcl
  testbenches/control_conv_acc/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/stimuli.py
  testbenches/control_conv_acc/wave.do
  testbenches/control_conv_acc/wave_new.do
  testbenches/control_conv_acc/wave_new2.do
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_mem/modelsim.ini
  testbenches/control_conv_mem/run.do
  testbenches/control_conv_mem/sources.tcl
  testbenches/control_conv_mem/src/control_conv_tb.vhd
  testbenches/control_conv_mem/src/stimuli.py
  testbenches/control_conv_mem/wave.do
  testbenches/demux/src/demux_tb.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_conv/src/pe_conv_tb.vhd
  testbenches/rr_arbiter/modelsim.ini
  testbenches/rr_arbiter/run.do
  testbenches/rr_arbiter/sources.tcl
  testbenches/rr_arbiter/src/rr_arbiter_tb.vhd
  testbenches/rr_arbiter/wave.do
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

[FEAT] save psums in scratchpad
  hdl/address_generator.vhd
  hdl/address_generator_psum.vhd
  hdl/control.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
  testbenches/control_conv_acc/sources.tcl
  testbenches/control_conv_acc/wave.do
Due: none

[CLEAN] some cleanup
  ci/vsg_configuration_tb.json
  hdl/accelerator.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/stimuli.py
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_mem/src/control_conv_tb.vhd
  testbenches/rr_arbiter/src/rr_arbiter_tb.vhd
Due: none

[CLEAN] come cleanup
  hdl/accelerator.vhd
  hdl/address_generator.vhd
  hdl/address_generator_psum.vhd
  hdl/control.vhd
  hdl/scratchpad.vhd
  hdl/scratchpad_interface.vhd
Due: none

[FIX] testbench due to pe array interface change
  .gitlab-ci.yml
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

[CLEAN] some cleanup
  hdl/pe_array.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: test-pe-array-conv-3x3

[CLEAN] ports and signals renamed
  hdl/acc.vhd
  hdl/accelerator.vhd
  hdl/address_generator.vhd
  hdl/address_generator_psum.vhd
  hdl/control.vhd
  hdl/line_buffer.vhd
  hdl/mac.vhd
  hdl/mult.vhd
  hdl/onehot_binary.vhd
  hdl/pe.vhd
  hdl/pe_array.vhd
  hdl/rr_arbiter.vhd
  hdl/scratchpad_interface.vhd
  testbenches/control_conv/src/control_conv_tb.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/control_conv_tb.vhd
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_mem/src/control_conv_tb.vhd
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
  testbenches/mac/src/mac_tb.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_gemm_3x3/modelsim.ini
  testbenches/pe_array_gemm_3x3/src/pe_array_gemm_3x3_tb.vhd
  testbenches/pe_array_gemm_3x3/wave.do
  testbenches/pe_array_gemm_3x3/wave_2.do
  testbenches/pe_conv/src/pe_conv_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

[FEAT] stall array when input FIFOs empty
  hdl/accelerator.vhd
  hdl/control.vhd
  hdl/line_buffer.vhd
  hdl/pe.vhd
  hdl/pe_array.vhd
  hdl/scratchpad_init.vhd
  hdl/scratchpad_interface.vhd
  testbenches/control_conv_acc/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/stimuli.py
  testbenches/control_conv_acc/wave.do
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

[FIX] add enable signal to line buffers, pe array
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-array-conv-3x3

[FIX] add enable signal to pe
  testbenches/pe_conv/src/pe_conv_tb.vhd
Due: test-pe-conv

[CLEAN] rename control signals
  hdl/accelerator.vhd
  hdl/address_generator.vhd
  hdl/control.vhd
  hdl/control_init.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_acc/sources.tcl
  testbenches/control_conv_acc/wave.do
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_mem/src/control_conv_tb.vhd
Due: none

[FEAT] variable size x
  .gitignore
  hdl/address_generator.vhd
  hdl/control_init.vhd
  testbenches/control_conv_acc/wave_control_adr.do
  testbenches/control_conv_acc/wave_new.do
  testbenches/control_conv_acc/wave_new2.do
  testbenches/kernels/modelsim.ini
  testbenches/kernels/run.do
  testbenches/kernels/sources.tcl
  testbenches/kernels/src/control_conv_tb.vhd
  testbenches/kernels/src/stimuli.py
  testbenches/kernels/wave.do
  testbenches/kernels/wave_control_adr.do
Due: none

[FIX] H2 tiling
  hdl/control_init.vhd
Due: none

[FEAT] calc m0 init
  hdl/accelerator.vhd
  hdl/address_generator.vhd
  hdl/control.vhd
  hdl/control_init.vhd
  testbenches/kernels/src/control_conv_tb.vhd
  testbenches/kernels/src/stimuli.py
  testbenches/kernels/wave_control_adr.do
Due: none

[FEAT] M0 tiling, batch tests
  .gitignore
  README.md
  hdl/accelerator.vhd
  hdl/address_generator.vhd
  hdl/address_generator_psum.vhd
  hdl/control.vhd
  hdl/control_init.vhd
  hdl/fifos.vhd
  hdl/gray.vhd
  hdl/pe.vhd
  hdl/ram_dp_init.vhd
  hdl/scratchpad_init.vhd
  hdl/scratchpad_interface.vhd
  hdl/sync.vhd
  hdl/utilities.vhd
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/control_conv_acc/src/control_conv_tb.vhd
  testbenches/control_conv_adr/src/control_conv_tb.vhd
  testbenches/control_conv_mem/src/control_conv_tb.vhd
  testbenches/fifo_tb/modelsim.ini
  testbenches/fifo_tb/run.do
  testbenches/fifo_tb/run_batch.do
  testbenches/fifo_tb/sources.tcl
  testbenches/fifo_tb/sources_batch.tcl
  testbenches/fifo_tb/src/fifo_tb.vhd
  testbenches/fifo_tb/wave.do
  testbenches/kernels/check_output.py
  testbenches/kernels/run_batch.do
  testbenches/kernels/simulate.py
  testbenches/kernels/sources_batch.tcl
  testbenches/kernels/src/control_conv_tb.vhd
  testbenches/kernels/wave_control_adr.do
Due: test-pe-conv, test-pe-array-conv-3x3

[CLEAN] lint config cleanup
  .gitlab-ci.yml
  ci/config.yaml
  ci/config_tb.yaml
  ci/vsg_configuration.json
  ci/vsg_configuration_tb.json
  hdl/sync.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

[WIP] Row stationary v2 dataflow
  ci/config_tb.yaml
  hdl/accelerator_2.vhd
  hdl/address_generator_2.vhd
  hdl/address_generator_psum_2.vhd
  hdl/control_2.vhd
  hdl/control_init_2.vhd
  hdl/pe.vhd
  hdl/scratchpad_interface.vhd
  testbenches/kernels_2/check_output.py
  testbenches/kernels_2/modelsim.ini
  testbenches/kernels_2/run.do
  testbenches/kernels_2/run_batch.do
  testbenches/kernels_2/simulate.py
  testbenches/kernels_2/sources.tcl
  testbenches/kernels_2/sources_batch.tcl
  testbenches/kernels_2/src/control_conv_tb.vhd
  testbenches/kernels_2/src/stimuli.py
  testbenches/kernels_2/wave.do
  testbenches/kernels_2/wave_control_adr.do
Due: test-pe-conv, test-pe-array-conv-3x3

[WIP] working alternative RS
  README.md
  hdl/accelerator.vhd
  hdl/accelerator_2.vhd
  hdl/address_generator_2.vhd
  hdl/address_generator_psum_2.vhd
  hdl/control.vhd
  hdl/control_2.vhd
  hdl/control_address_generator.vhd
  hdl/control_init_2.vhd
  hdl/scratchpad_interface.vhd
  testbenches/kernels_2/run_batch2.do
  testbenches/kernels_2/simulate.py
  testbenches/kernels_2/sources_batch2.tcl
  testbenches/kernels_2/src/control_conv_tb.vhd
  testbenches/kernels_2/visualize.py
  testbenches/kernels_2/wave_control_adr_0.do
Due: none

[CLEAN] Clean folder
  .gitignore
  README.md
  hdl/accelerator.vhd
  hdl/accelerator_2.vhd
  hdl/address_generator_2.vhd
  hdl/address_generator_psum.vhd
  hdl/address_generator_psum_2.vhd
  hdl/constr
  hdl/control.vhd
  hdl/control_2.vhd
  hdl/control_address_generator_2.vhd
  hdl/line_buffer.vhd
  hdl/pe.vhd
  hdl/scratchpad_interface.vhd
  testbenches/functional/check_output.py
  testbenches/functional/modelsim.ini
  testbenches/functional/run.do
  testbenches/functional/run_batch.do
  testbenches/functional/run_batch2.do
  testbenches/functional/simulate.py
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
  testbenches/functional/src/control_conv_tb.vhd
  testbenches/functional/src/stimuli.py
  testbenches/functional/visualize.py
  testbenches/functional/wave.do
  testbenches/functional/wave_control_adr.do
  testbenches/functional/wave_control_adr_0.do
  testbenches/line_buffer_psum/wave.do
  testbenches/pe_array_gemm_3x3/modelsim.ini
  testbenches/pe_array_gemm_3x3/src/pe_array_gemm_3x3_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3

drop unused address_generator_psum_2
  hdl/address_generator_psum_2.vhd
Due: none

restructure code to make control_init obsolete
  hdl/control.vhd
  hdl/control_2.vhd
  hdl/control_address_generator.vhd
  hdl/control_init.vhd
  hdl/control_init_2.vhd
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
Due: none

restructure code to make most of the "-2" files obsolete
  hdl/accelerator.vhd
  hdl/accelerator_2.vhd
  hdl/address_generator.vhd
  hdl/address_generator_2.vhd
  hdl/control.vhd
  hdl/control_2.vhd
  hdl/control_address_generator.vhd
  hdl/control_address_generator_2.vhd
  testbenches/functional/sources.tcl
  testbenches/functional/sources_batch.tcl
  testbenches/functional/sources_batch2.tcl
Due: none

Fix styleguide issues
  testbenches/control_conv_5x5/src/control_conv_tb.vhd
  testbenches/functional/src/control_conv_tb.vhd
Due: none

test pipeline config change
  ci/config_tb.yaml
Due: none

test pipeline config change
  ci/config.yaml
Due: none

Path conditions:
  test-mac: any of: hdl/mac.vhd, testbenches/mac/src/*, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_iact/src/*, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_psum/src/*, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_wght/src/*, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, testbenches/pe_conv/src/*, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, testbenches/pe_array_conv_3x3/src/*, .gitlab-ci.yml
