Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

test-mac:
  stage: test
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/mac
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-iact:
  stage: test
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_iact
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-psum:
  stage: test
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_psum
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-wght:
  stage: test
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/line_buffer_wght
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-conv:
  stage: test
  tags:
  - modelsim
  script:
  - source /tools/mentor/set_modelsim_10.6b.sh
  - cd ./testbenches/pe_conv
  - vsim -c -do "../../ci/simulate.tcl"
  - cd ../..

[FEAT] PE initial commit
  README.md
  hdl/acc.vhd
  hdl/line_buffer.vhd
  hdl/mult.vhd
  hdl/mux.vhd
  hdl/pe.vhd
  hdl/utilities.vhd
  testbenches/pe_conv/modelsim.ini
  testbenches/pe_conv/run.do
  testbenches/pe_conv/sources.tcl
  testbenches/pe_conv/src/pe_conv_tb.vhd
  testbenches/pe_conv/wave.do
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[CLEAN] VSG applied
  .gitlab-ci.yml
  ci/vsg_configuration_tb.json
  hdl/line_buffer.vhd
  hdl/mux.vhd
  hdl/pe.vhd
  hdl/utilities.vhd
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
  testbenches/mac/src/mac_tb.vhd
  testbenches/pe_conv/src/pe_conv_tb.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[FIX] vsg tb pipeline
  .gitlab-ci.yml
Due: none

[CLEAN] use custom command type
  hdl/line_buffer.vhd
  hdl/pe.vhd
  hdl/pe_array.vhd
  hdl/utilities.vhd
  testbenches/line_buffer_iact/sources.tcl
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_psum/sources.tcl
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/sources.tcl
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
  testbenches/pe_conv/src/pe_conv_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[CLEAN] some cleanup
  hdl/pe.vhd
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[CLEAN] some cleanup
  hdl/pe_array.vhd
Due: none

[CLEAN] some cleanup
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-wght

[FIX] disable pe output on read/update
  hdl/pe.vhd
  hdl/utilities.vhd
  testbenches/pe_conv/src/pe_conv_tb.vhd
  testbenches/pe_conv/wave.do
Due: test-pe-conv

[FEAT] pe array initial commit
  ci/vsg_configuration.json
  ci/vsg_configuration_tb.json
  hdl/pe_array.vhd
  testbenches/pe_array_conv_3x3/modelsim.ini
  testbenches/pe_array_conv_3x3/run.do
  testbenches/pe_array_conv_3x3/sources.tcl
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3/wave.do
  testbenches/pe_array_conv_3x3/wave_2.do
Due: none

[FIX] vsg, pe array stage added
  .gitlab-ci.yml
Due: none

[CLEAN] pipeline name
  .gitlab-ci.yml
Due: none

[CLEAN] comments adjusted
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_conv/src/pe_conv_tb.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[FIX] rstn added to sensitivity list
  hdl/pe.vhd
Due: test-pe-conv

[FEAT] buffer full next signal added
  hdl/line_buffer.vhd
  hdl/pe.vhd
  hdl/pe_array.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[CLEAN] some cleanup
  hdl/pe.vhd
  hdl/pe_array.vhd
Due: test-pe-conv

[CLEAN] some cleanup
  hdl/line_buffer.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[WIP] line buffer full signal
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_iact/wave.do
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3/wave_2.do
Due: test-line-buffer-iact

[FIX] line buffer full status, wide 3x3 conv
  .gitlab-ci.yml
  hdl/line_buffer.vhd
  hdl/pe_array.vhd
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_iact/wave.do
  testbenches/pe_array_conv_3x3/wave_2.do
  testbenches/pe_array_conv_3x3_wide/modelsim.ini
  testbenches/pe_array_conv_3x3_wide/run.do
  testbenches/pe_array_conv_3x3_wide/sources.tcl
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_3x3_wide/wave.do
  testbenches/pe_array_conv_3x3_wide/wave_2.do
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[CLEAN] change ram to numeric_std
  hdl/ram_dp.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[FEAT] conv bigger than pe array
  testbenches/pe_array_conv_3x3_wide_high/modelsim.ini
  testbenches/pe_array_conv_3x3_wide_high/run.do
  testbenches/pe_array_conv_3x3_wide_high/sources.tcl
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/wave.do
  testbenches/pe_array_conv_3x3_wide_high/wave_2.do
Due: none

[FEAT] tb input stimuli from txt
  hdl/utilities.vhd
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/src/stimuli.py
Due: none

[FEAT] 5x5 array and kernel
  testbenches/pe_array_conv_5x5/modelsim.ini
  testbenches/pe_array_conv_5x5/run.do
  testbenches/pe_array_conv_5x5/sources.tcl
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_conv_5x5/src/stimuli.py
  testbenches/pe_array_conv_5x5/wave_2.do
Due: none

[CLEAN] some cleanup
  hdl/utilities.vhd
  testbenches/pe_array_conv_5x5/src/pe_array_conv_5x5_tb.vhd
  testbenches/pe_array_conv_5x5/src/stimuli.py
Due: none

[FEAT] pipeline generate input stimuli
  .gitlab-ci.yml
Due: none

[FIX] pipeline folder adjusted
  .gitlab-ci.yml
Due: none

[FEAT] read file with more channels
  hdl/utilities.vhd
Due: none

[FIX] line buffer fill status below zero
  hdl/line_buffer.vhd
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv

[FIX] psum lb stores data instead of accumulating
  hdl/pe.vhd
Due: test-pe-conv

[FIX] read function impure
  hdl/utilities.vhd
Due: none

[FEAT] add seed to input stimuli generation
  testbenches/pe_array_conv_5x5/src/stimuli.py
Due: none

[FEAT] conv with 3 channels
  testbenches/pe_array_conv_5x5_channels/modelsim.ini
  testbenches/pe_array_conv_5x5_channels/run.do
  testbenches/pe_array_conv_5x5_channels/sources.tcl
  testbenches/pe_array_conv_5x5_channels/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels/src/program.py
  testbenches/pe_array_conv_5x5_channels/src/stimuli.py
  testbenches/pe_array_conv_5x5_channels/wave_2.do
Due: none

[FEAT] conv with multiple channels
  testbenches/pe_array_conv_5x5_channels_size/modelsim.ini
  testbenches/pe_array_conv_5x5_channels_size/run.do
  testbenches/pe_array_conv_5x5_channels_size/sources.tcl
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
  testbenches/pe_array_conv_5x5_channels_size/src/stimuli.py
  testbenches/pe_array_conv_5x5_channels_size/src/test.vhd
  testbenches/pe_array_conv_5x5_channels_size/wave_2.do
Due: none

[CLEAN] some cleanup
  testbenches/pe_array_conv_5x5_channels/modelsim.ini
  testbenches/pe_array_conv_5x5_channels/run.do
  testbenches/pe_array_conv_5x5_channels/sources.tcl
  testbenches/pe_array_conv_5x5_channels/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels/src/program.py
  testbenches/pe_array_conv_5x5_channels/src/stimuli.py
  testbenches/pe_array_conv_5x5_channels/wave_2.do
  testbenches/pe_array_conv_5x5_channels_size/src/test.vhd
Due: none

[FIX] comments for program insertion
  ci/vsg_configuration_tb.json
Due: none

[WIP] registers in data transfer
  hdl/demux.vhd
  hdl/pe.vhd
  hdl/pe_array.vhd
  hdl/utilities.vhd
  testbenches/demux/modelsim.ini
  testbenches/demux/run.do
  testbenches/demux/sources.tcl
  testbenches/demux/src/demux_tb.vhd
  testbenches/demux/wave.do
  testbenches/pe_array_conv_3x3/sources.tcl
  testbenches/pe_array_conv_3x3/src/pe_array_conv_3x3_tb.vhd
  testbenches/pe_array_conv_3x3/wave_2.do
  testbenches/pe_array_conv_3x3_wide/sources.tcl
  testbenches/pe_array_conv_3x3_wide/src/pe_array_conv_3x3_wide_tb.vhd
  testbenches/pe_array_conv_3x3_wide/wave_2.do
  testbenches/pe_array_conv_3x3_wide_high/sources.tcl
  testbenches/pe_array_conv_5x5_channels_size/sources.tcl
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
  testbenches/pe_array_conv_5x5_channels_size/src/stimuli.py
  testbenches/pe_array_conv_5x5_channels_size/wave_2.do
  testbenches/pe_conv/src/pe_conv_tb.vhd
Due: test-pe-conv

[FIX] registers between PEs
  hdl/pe.vhd
  hdl/pe_array.vhd
  testbenches/pe_array_conv_3x3_wide_high/src/pe_array_conv_3x3_wide_high_tb.vhd
  testbenches/pe_array_conv_3x3_wide_high/wave_2.do
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
  testbenches/pe_array_conv_5x5_channels_size/src/stimuli.py
  testbenches/pe_array_conv_5x5_channels_size/wave_2.do
Due: test-pe-conv

[CLEAN] some cleanup
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
Due: none

[FEAT] 3x3 GEMM
  hdl/pe.vhd
  hdl/pe_array.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/pe_array_conv_5x5_channels_tb.vhd
  testbenches/pe_array_conv_5x5_channels_size/src/program.py
  testbenches/pe_array_conv_5x5_channels_size/src/stimuli.py
  testbenches/pe_array_gemm_3x3/modelsim.ini
  testbenches/pe_array_gemm_3x3/run.do
  testbenches/pe_array_gemm_3x3/sources.tcl
  testbenches/pe_array_gemm_3x3/src/pe_array_gemm_3x3_tb.vhd
  testbenches/pe_array_gemm_3x3/wave.do
  testbenches/pe_array_gemm_3x3/wave_2.do
Due: test-pe-conv

Path conditions:
  test-mac: any of: hdl/mac.vhd, testbenches/mac/src/*
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_iact/src/*
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_psum/src/*
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, testbenches/line_buffer_wght/src/*
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, testbenches/pe_conv/src/*
