Repository itiv-kit/flexnngine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

test-mac:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/mac
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-iact:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/line_buffer_iact
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-psum:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/line_buffer_psum
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-line-buffer-wght:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_basics
  script:
  - cd testbenches/line_buffer_wght
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-conv:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_modules
  script:
  - cd testbenches/pe_conv
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-array-conv-3x3:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_pe_array
  script:
  - cd testbenches/pe_array_conv_3x3
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

test-pe-array-conv-3x3-wide:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_pe_array
  script:
  - cd testbenches/pe_array_conv_3x3
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

pe_array_conv_5x5_channels_tb:
  tags:
  - modelsim
  before_script:
  - - source /etc/profile.d/modules.sh && module load questa/2023.4
  - cd testbenches/pe_array_conv_5x5_channels_size/src
  - python3 stimuli.py
  - python3 program.py
  stage: test_pe_array
  script:
  - cd ..
  - vsim -batch -nolog -do "../../ci/simulate.tcl"
  - cd ../..

addr_gen_psum:
  tags:
  - modelsim
  before_script:
  - source /etc/profile.d/modules.sh && module load questa/2023.4
  stage: test_modules
  script:
  - cd testbenches/address_generator_psum
  - vsim -batch -nolog -do "../../ci/simulate.tcl"

functional/simulate.py: make sure C0 is <= input_channels
  testbenches/functional/simulate.py
Due: none

initial padding support
  hdl/address_generator_iact.vhd
  hdl/address_generator_psum.vhd
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/utilities.vhd
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb, addr_gen_psum

remove "duplicate" padding mode for now
  hdl/utilities.vhd
  testbenches/functional/simulate.py
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

functional: update waveform for label and register changes
  testbenches/functional/wave.do
Due: none

padding fully working for RS dataflow
  hdl/control_arch_alt_rs.vhd
  hdl/control_arch_rs.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

register revision 5: reorder and add padding parameters
  hdl/axi/acc_axi_regs.vhd
Due: none

control rs: add o_enable to sensitivity list to avoid Vivado warnings
  hdl/control_arch_rs.vhd
Due: none

line_buffer: use read_offset as shrink size - 1 to allow full shrinks
  hdl/control_arch_rs.vhd
  hdl/line_buffer.vhd
  hdl/pe.vhd
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
  testbenches/line_buffer_psum/wave.do
Due: test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

line_buffer_psum_tb: workaround for vsg bug
  testbenches/line_buffer_psum/src/line_buffer_psum_tb.vhd
Due: none

simulate.py: apply throttle only for dataflow 1
  testbenches/functional/simulate.py
Due: none

utils/axi: increase stride_psum_och size to 13 bits
  hdl/axi/acc_axi_regs.vhd
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

functional: fix scratchpad size check for psum
  testbenches/functional/simulate.py
Due: none

update shrink amounts for trs dataflow, check for padding on trs
  hdl/control_arch_alt_rs.vhd
  testbenches/functional/simulate.py
Due: none

simulate.py: clip after accumulator and requantize
  testbenches/functional/simulate.py
Due: none

acc: clamp accumulator output at min/max on overflow
  hdl/acc.vhd
  hdl/mac.vhd
  testbenches/mac/run.do
  testbenches/mac/src/mac_tb.vhd
  testbenches/mac/wave.do
Due: test-mac

mult: cosmetic cleanups
  hdl/mult.vhd
Due: test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

testbenches/mac: cosmetics
  testbenches/mac/src/mac_tb.vhd
Due: none

simulate.py: change reference conv2d to achieve same saturation
  testbenches/functional/simulate.py
Due: none

psum_bias: use acc entity for saturation
  hdl/psum_bias.vhd
Due: none

support non-power-of-two psum width, default to 20 bits
  hdl/psum_bias.vhd
  hdl/scratchpad_interface.vhd
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
  testbenches/functional/wave.do
Due: none

addrgen psum: allow arbitrary pow-2 raw psum size
  hdl/accelerator.vhd
  hdl/address_generator_psum.vhd
  hdl/control_address_generator.vhd
Due: addr_gen_psum

spadif: correctly align arbitrary size psum values to pow-2
  hdl/parallelizer.vhd
  hdl/scratchpad_interface.vhd
Due: none

functional_tb: fix psum writeout for arbitrary psum size
  testbenches/functional/simulate.py
  testbenches/functional/src/functional_tb.vhd
Due: none

addrgen psum: fix testbench
  testbenches/address_generator_psum/src/address_generator_psum_tb.vhd
Due: none

control rs: fix reset for multiple iterations
  hdl/control_arch_rs.vhd
  testbenches/functional/src/functional_tb.vhd
Due: none

axi regs: make bias assignment dynamic to match psum width
  hdl/axi/acc_axi_regs.vhd
Due: none

spadif: pad with sign bit for correct negative integers in memory
  hdl/scratchpad_interface.vhd
Due: none

simulate.py: set default accumulator size to 24bit
  testbenches/functional/simulate.py
Due: none

simulate.py: decrease throttle safety factor to 0.8 to fix CI
  testbenches/functional/simulate.py
Due: none

simulate.py: set return code to failed simulations for CI to fail properly
  testbenches/functional/simulate.py
Due: none

lb_iact/_wght testbenches: fix shrink offsets for d562816
  testbenches/line_buffer_iact/src/line_buffer_iact_tb.vhd
  testbenches/line_buffer_wght/src/line_buffer_wght_tb.vhd
Due: none

bump max spad addr width to 24 bits
  hdl/utilities.vhd
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

spadif: generate all psums done signal properly
  hdl/scratchpad_interface.vhd
Due: none

simulate.py: add --only-first-kernel option
  testbenches/functional/simulate.py
Due: none

control rs: fix convolutions with c0 != c0_last_c1
  hdl/control_arch_rs.vhd
Due: none

control rs: simplify weight shrink size calculation
  hdl/control_arch_rs.vhd
Due: none

make stride_iact_w count single pixels
  hdl/address_generator_iact.vhd
  hdl/utilities.vhd
  testbenches/functional/simulate.py
Due: test-mac, test-line-buffer-iact, test-line-buffer-psum, test-line-buffer-wght, test-pe-conv, test-pe-array-conv-3x3, test-pe-array-conv-3x3-wide, pe_array_conv_5x5_channels_tb

simulate.py: consider padding in H2 calculation
  testbenches/functional/simulate.py
Due: none

add the "bullseye" test kernel (just a single 1 in the center)
  testbenches/functional/simulate.py
Due: none

addrgen psum: fix images < 8 output pixels
  hdl/address_generator_psum.vhd
Due: addr_gen_psum

Path conditions:
  test-mac: any of: hdl/mac.vhd, hdl/utilities.vhd, testbenches/mac/**, .gitlab-ci.yml
  test-line-buffer-iact: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_iact/**, .gitlab-ci.yml
  test-line-buffer-psum: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_psum/**, .gitlab-ci.yml
  test-line-buffer-wght: any of: hdl/line_buffer.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/line_buffer_wght/**, .gitlab-ci.yml
  test-pe-conv: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/utilities.vhd, testbenches/pe_conv/**, .gitlab-ci.yml
  test-pe-array-conv-3x3: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3/**, .gitlab-ci.yml
  test-pe-array-conv-3x3-wide: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_3x3_wide/**, .gitlab-ci.yml
  pe_array_conv_5x5_channels_tb: any of: hdl/pe.vhd, hdl/line_buffer.vhd, hdl/mult.vhd, hdl/mux.vhd, hdl/add.vhd, hdl/ram_dp.vhd, hdl/pe_array.vhd, hdl/utilities.vhd, testbenches/pe_array_conv_5x5_channels_size/**, .gitlab-ci.yml
  addr_gen_psum: any of: hdl/mux.vhd, hdl/address_generator_psum.vhd, hdl/ram_dp.vhd, testbenches/address_generator_psum/src/address_generator_psum.tb, .gitlab-ci.yml
